.button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}  
.fullWidth {
    width: 100%;
}  
.primary {
    background-color: var(--secondary-color);
    color: var(--text-color);
} 
.logout {
    background-color: var(--primary-color);
    color: var(--text-color);
} 
.pagination-active {
    background-color: var(--primary-color);
    color: var(--text-color);
}
.pagination-inactive {
    background-color: #eee;
    color: var(--secondary-color);
}