.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}  
.title {
    font-size: 24px;
    font-weight: 500;
}
.logoutButton {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}