:root {
  --primary-color: #4CAF50;
  --secondary-color: #333;
  --text-color: white;
  --text-sec-color:#555;
  --border-color: #ccc;
  --border-sec-color: #ddd;
  --error-color: red;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
}